<%- include('./templates/head.ejs') %>
<%- include('./templates/header.ejs') %>

<section class="contact">
    <div class="half-container-contact-left">
      <h2>Entre em contato conosco!</h2>
      <form action="" method="get" class="form">
        <div>
          <label class="margin" for="email">Email:</label>
        <input class="margin" type="email" name="email" id="">
        </div>
        <div>
          <label class="margin" for="name">Nome:</label>
        <input class="margin" type="text" name="name" id="">
        </div>
        <div>
          <label class="margin" for="telefone">Telefone:</label>
        <input class="margin" type="tel" name="telefone" id="">
        </div>
      </form>
    </div>
    <div class="half-container-contact-right">

    </div>

  </section>
</body>
</html>