<%- include('./templates/head.ejs') %>
<%- include('./templates/header.ejs') %>
<main class="main-container">
<section class="section-about">
    <h1 class="h1">HelpFornos</h1>
    <p class="paragraph">
        Somos uma empresa especializada em manutenção, reparação e comercialização de equipamentos indutivos de alta qualidade.
Oferecemos uma ampla gama de serviços especializados em reparação, abrangendo desde intervenções parciais até restaurações completas de bobinas de indução utilizadas em processos de fusão, aquecimento e tratamento térmico.
Além disso, somos especializados na fabricação personalizada de bobinas de fornos e indutores, seguindo estritamente as especificações originais do projeto ou adaptando-nos às novas necessidades e exigências do cliente.
Nossa equipe é composta por técnicos altamente experientes e capacitados, dedicados a fornecer o melhor serviço possível. Cada membro de nossa equipe possui um profundo conhecimento técnico e prático neste campo específico, garantindo um trabalho eficiente e de alta qualidade em cada projeto.
Nosso compromisso com a excelência não se limita apenas à mão de obra qualificada. Buscamos sempre oferecer preços competitivos, sem comprometer a qualidade dos materiais utilizados. Utilizamos exclusivamente materiais da mais alta qualidade, atendendo às exigências e padrões da indústria, para garantir o desempenho e durabilidade de cada equipamento reparado ou fabricado.
Acreditamos firmemente que o sucesso de cada projeto está nos detalhes. Por isso, dedicamos uma atenção meticulosa a cada etapa do processo, desde a avaliação inicial até a conclusão do trabalho. O resultado final é sempre um equipamento funcional, confiável e seguro, projetado para atender plenamente às necessidades e expectativas de nossos clientes.
Em resumo, estamos comprometidos em oferecer soluções completas e personalizadas em manutenção, reparação e fabricação de equipamentos indutivos, com foco na qualidade, confiabilidade e satisfação do cliente.
    </p>
</section>
</main>
<div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="../img/jonathan-kemper-fsOKJe2eA0k-unsplash.avif" style="width:100%">

    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="../img/jonathan-kemper-fsOKJe2eA0k-unsplash.avif" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="../img/jonathan-kemper-fsOKJe2eA0k-unsplash.avif" style="width:100%">
    
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
