<%- include('./templates/head.ejs') %>
<%- include('./templates/header.ejs') %>
<section class="nosso-trabalho">
    <h2 class="h2">nossos servicos</h2>
    <div class="container">
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/bobinas-inductoras.jpg" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>Bobinas indutoras</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/Transformadores_de_corrente.jpg" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>Transformadores de corrente</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>

          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/Transformadores_de_isolação.jpg" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>Transformadores de isolação</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>
        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/reator.jpeg" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>Reatores</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/shunts.jpeg" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>Shunts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>

        <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img src="../img/cabos_refrigerados.avif" alt="Paris" style="width:600px;height:400px">
              </div>
              <div class="flip-box-back">
                <h2>cabos refrigerados</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo odio neque molestiae?</p>
              </div>
            </div>
          </div>
    </div>
</section>
</body>
</html>