<nav class="nav">
    <div class="logo">
      <img class="logo_img" src="/img/logo_help_fornos.avif" alt="HelpFornos Logo marca">  
    </div>
    <ul class="nav-list">
        <li><a href="/">home</a></li>
        <li><a href="/nosso_trabalho">nosso trabalho</a></li>
        <li><a href="/sobre_nos">sobre nos</a></li>
        <li><a href="/contact">contato</a></li>
    </ul>
</nav>
